body, html {
    font-family: monospace;
    color: #00FF00;
    background-color: black;
    font-size: 15px;
}

.content {
    margin-left: 5%;
    padding: 5px;
    width: 90%
}

table, td, th {
    border: 1px solid #aaa;
    padding: 6px;
    border-color: #00FF00;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    text-align: left;
    padding: 5px;
}

.overtime {
    color: black;
    background-color: #00FF00;
    border-color: black
}

form {
    margin-top: 20px;
}

.input {
    background-color: black;
}

#content {
    font-color: #00FF00;
}

.task_input{

}

.distant {
    padding: 5px;
    color: #00FF00;
    text-decoration: underline;
    font-weight: bold;
}

.distant-overtime {
    padding: 5px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

input {
    color: #00FF00;
    background: black;
    font-family: monospace;
    font-size: 15px;
    border-color: #00FF00;
}

input::placeholder {
        color: #00FF00;
        opacity: 0.5;
}

input:focus {
outline: none !important;
border:1px solid #00FF00;
box-shadow: 0 0 10px #00FF00;
}

#header {
    width:100%;
    padding:15px;
}

#header h1 {
    display:inline;
}

#header ul {
   display:inline;
}

#header ul li {
    display:inline;
}
#header ul li a {
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    color: #00FF00;
}
#header ul li a:hover {
    text-decoration:underline;
}

select {
    color: #00FF00;
    background: black;
    font-family: monospace;
    font-size: 15px;
    border-color: #00FF00;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  filter: invert(52%) sepia(52%) saturate(3940%) hue-rotate(87deg) brightness(129%) contrast(116%);
}

hr {
    width:30%;
    text-align:left;
    margin-left:0;
    border-color: #00FF00;
    background-color: #00FF00;
    color: #00FF00
}