{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<div class="content">
    <h1>Update Bookmark</h1>
    <form action="/update_bookmark/{{bookmark.id}}" method="POST">
        <input type = "text" name="content" id="content" style="outline:color;" value="{{bookmark.content}}">
        <input type = "text" name="comment" id="comment" style="outline:color;" value="{{bookmark.comment}}">
        <input type = "submit" value = "Update Bookmark" >
    </form>
</div>
{% endblock %}