{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<div class="content">
    {% if tasks|length < 1 %}
    <h1>Busy Beaver</h1>
    <h4>There are no done tasks :(</h4>
    {% else %}
    {% include 'header_section.html' %}
    <table>
        <tr>
            <th>Task</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a class ="distant" href="/undone/{{task.id}}">Undone</a>
                    <a class ="distant" href="/delete/{{task.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}